* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(56, 56, 56);
}

.calculator-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  border-radius: 50px;
  background-color: rgb(39, 39, 39);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  overflow: hidden;
}

.display-section {
  height: 170px;
  width: 500px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  background-color: rgb(58, 58, 58);
  box-shadow: 0 5px 8px rgba(255, 255, 255, 0.15);
  overflow: hidden;
}

.display {
  margin-right: 60px;
  color: white;
  font-size: 60px;
}

.input-section {
  width: 500px;
  padding: 30px;
  gap: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.input-button {
  height: 90px;
  width: 90px;
  font-size: 30px;
  border-radius: 45px;
  border: 0 solid black;
  background-color: rgb(22, 22, 22);
  color: white;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.15);
  transition: box-shadow 0.15s;
}

.input-button:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.equal-button {
  background-color: rgb(179, 109, 23);
}

.clear-button {
  width: 90px;
}
